<h2>Lista de Postagens:</h2>
<hr />
<div class="col-lg-12" style="text-align: right;">
  <a href="/admin/postagens/add"><button class="btn btn-success">Adicionar
      Postagem</button></a>
</div>
<br />
{{#each postagem}}
  <div class="card">
    <div class="card-body">
      <div style=" display: flex; justify-content: flex-end; gap: 20px">
        <small>{{categoria.nome}}</small>
        |
        <small>{{data}}</small>
      </div>
      <h4>{{titulo}}</h4>
      <h6>{{descricao}}</h6>
      <p class="mt-4">{{conteudo}}</p>
      <div style=" display: flex; justify-content: flex-end; gap: 20px">
        <a href="/admin/postagens/editar/{{_id}}">
          <button class="btn btn-outline-success">Editar</button></a>
        <form action="/admin/postagens/excluir" method="POST">
          <input type="hidden" name="id" value="{{_id}}" />
          <button type="submit" class="btn btn-outline-danger">Excluir</button>
        </form>
      </div>
    </div>
  </div>
  <br />

{{else}}

  <h5>Não existem postagens cadastradas</h5>

{{/each}}